<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyemoim.dao.board.BoardDAO">

  <select id="countBoard" resultType="int">
    SELECT COUNT(*)
    FROM BOARD
  </select>

  <!-- 페이징 처리 후 게시글 조회 -->
  <select id="selectBoard" resultType="com.gyemoim.domain.board.BoardVO">
    SELECT *
    FROM (SELECT rownum RN, A.*
          FROM (SELECT *
                FROM BOARD
                ORDER BY bid DESC) A)
    WHERE RN BETWEEN ${start} AND ${end}
  </select>

  <select id="readDetail" resultType="com.gyemoim.domain.board.BoardVO">
    SELECT *
    FROM BOARD
    WHERE BID = #{bid}
  </select>

  <select id="searchList" parameterType="com.gyemoim.dto.board.BoardListDTO" resultType="com.gyemoim.domain.board.BoardVO">
    SELECT *
    FROM BOARD
    WHERE bid > 0
            AND title LIKE '%' || #{keyword} || '%'
            OR content LIKE '%' || #{keyword} || '%'
       OR name = #{keyword}
  </select>

</mapper>
